<header> <h1> Tiny APPPPPPPPP  </h1>   </header>

<form action="/login", method="POST" style="margin:width/2;">
      <label >Login first dumbass</label>
      <input id="login" type="text" name="login" placeholder="Username" style="width: 300px">
      <input type="submit" value="login">
</form>

