<header> <h1> Tiny APPPPPPPPP <%=  templateVars.userName %>
 </h1>  </header>

<form action="/login", method="POST" style="margin:width/2;">
      <label >Login first dumbass</label>
      <br/>
      <input id="login" type="text" name="login" placeholder="UserName" style="width: 300px">
      <br/><input type="submit" value="LOGIN!!!!">
</form>
<form action="/logout", method="POST" style="margin:width/2;">
      <label>Don't forget to Logout</label>
      <br/><input type="submit" value="LOGOUT!!!!">
</form>