<% if (!user) { %>
  <a href='/login'><button>Log In</button></a>
  <a href='/register'><button>Sign Up</button></a>
<% } else { %>
  <header>
    <h1> Tiny APPPPPPPP <%= user.username %> </h1>
  </header>
  <form action="/logout", method="POST" style="margin:width/2;">
    <button type='submit'>Log out</button>
  </form>
<% } %>
