<header> <h1> Tiny APPPPPPPPP <%= username %>  </h1>   </header>

<form action="/login", method="POST" style="margin:width/2;">
  <label >Login first dumbass</label>
  <input id="username" type="text" name="username" placeholder="Username" style="width: 300px">
  <button type='submit'>Log In</button>
</form>

