<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <%- include partials/_header.ejs %>
    <h2> URL LIST </h2>

      <%= shortURL %>
      <%= longURL %>

  </body>
</html>