<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <%- include partials/_header.ejs %>
     <h1> <%= longURL %> </h1><h2><%= shortURL %> </h2>
      <form action="/urls/<%= shortURL %>/update", method="POST" style="margin:width/2;">
      <label for="longURL">Enter long URL to generate a new code:</label>
      <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
      <input type="submit" value="Update"></form>
      <br/>
  </body>
</html>